
body {
    font-family: 'Khmer OS Siemreap', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background: #001B61;
    color: white;
    padding: 1em;
    text-align: center;
}
.logo {
    width: 100px;
    height: auto;
}
nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}
select {
    padding: 0.3em;
}
h1, #company-name {
    font-family: 'MOUL', 'Khmer OS Siemreap', sans-serif;
    text-align: center;
}
